<div class="dcon">	
	<div class="ditem">
		<span>日志标题：</span>
		{{$row.log_title}}
	</div>	
	<div class="ditem">
		<span>日志分类：</span>
		{{$row.cate_name}}
	</div>	
	<div class="ditem">
		<span>操作类型：</span>
		{{$row.type_name}}
	</div>	
	<div class="ditem">
		<span>操作用户：</span>
		{{$row.oper_user_realname}}({{$row.oper_user_name}})
	</div>	
	<div class="ditem">
		<span>操作时间：</span>
		{{$row.log_time}}
	</div>
	<div class="ditem">
		<span>操作IP：</span>
		{{$row.log_ip}}
	</div>	
	<div class="ditem">
		<span>日志内容：</span>
		{{$row.log_content}}
	</div>	
</div>