
<form class="a_fill" method="post" action="{{$__ROOT__}}/cityList/edit" onsubmit="mm.ajaxPost({formId: this});">
    <div class="fitem">
        <div class="ftitle">城市名称<span class="bi">*</span></div>
        {{$city_name}}
        <input type="hidden" name="city_name" value="{{$city_name}}" />
    </div>
    <div class="fitem">
        <div class="ftitle">跳转地址<span class="bi">*</span></div>
        <select name="nav_id" style="width: 336px; overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
            {{if $navList}}
            {{foreach from=$navList item=nl}}
            <option value="{{$nl.nav_id}}" {{if $id!=0}} {{if $ls.nav_id==$nl.nav_id}} selected {{/if}} {{/if}} title="{{$nl.nav_name}}--{{$nl.nav_url}}">{{$nl.nav_name}}--{{substr($nl.nav_url,0,28)}}</option>  
            {{/foreach}}                                
            {{/if}}
        </select>
    </div>    
    <div class="fline"></div>
    <div class="fsub">
        <input type="hidden" name="id" value="{{$id}}" />
        <input type="hidden" name="city_id" value="{{$city_id}}" />
        <input type="hidden" name="area_code" value="{{$area_code}}" />
        <button type="submit">保存</button>
    </div>
</form>